Host <HOST>
   HostName <HOSTNAME>
   User vagrant
   #Port <PORT>
   UserKnownHostsFile /dev/null
   StrictHostKeyChecking no
   PasswordAuthentication no
   IdentityFile <KEYBASEPATH>/.ssh/tom_rsa
   IdentitiesOnly yes
   LogLevel FATAL
